
.advantages {
    padding: 60px 0;

    &__list-description {
        @include font (400, 14px, 1.714, 0.03em);
        color: $description-color;
    }
}

.advantages__list-item {
    width: 450px;

    &:not(:last-child) {
        margin-bottom: 30px;
    }
}

.advantages__list-subtitle {
    margin-bottom: 10px;
    @include font (700, 14px, 1.143, 0.03em);
    text-transform: uppercase;
    color: $title-dark-color;

    &::before {
        display:block;
        content: "";
        width: 100%;
        height: 120px;
        background-color: $background-light-color;
        margin-bottom: 30px;
        border-radius: 4px;
        }

    &--details::before {
        background-image: url(../images/svg/antenna.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 70px 70px;
        }

    &--punctuality::before {
        background-image: url(../images/svg/clock.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 70px 70px;
        }

    &--planning::before {
        background-image: url(../images/svg/diagram.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 70px 70px;
        }

    &--technologies::before {
        background-image: url(../images/svg/astronaut.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 70px 70px;
    }
}


@media screen and (max-width: 767px) {
    
    .advantages__list-item:not(:last-child) {
        margin-bottom: 30px;
    }

    .advantages__list-subtitle {
        text-align: center;
    }
}

@media screen and (min-width: 768px) {

    .advantages__list-item {
        width: 354px;
    }

    .advantages__list {
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (max-width:1199px) {
    
    .advantages__list-item {

        &:nth-child(2n+1) {
            margin-right: 30px;
        }

        &:nth-child(-n+2) {
            margin-bottom: 30px;
        }
    }
}

@media screen and (min-width: 1200px) {
    
    .advantages {
        padding: 94px 0;
    }

    .advantages__list-item {
        width: 270px;
        
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}