.navigation {
    display:flex;
    align-content: center;
    align-items: baseline;

}

.navigation__list {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 480 px;


    &-link {
        @include font (500, 18px, 1.167, 0.02em);
        color: $title-dark-color;
        transition: color $transition-timing;
      

        &:hover,
        &:focus {
        color: $accent-color;
        }
    }

    &-item{
        text-align: center;
    }
}


.active-page {
    text-align: center;
    position: relative;
    color: $accent-color;

    .header & {
        padding-bottom: 8px;
        display: inline-block;
        align-items: center;
    }

    &::after {
        position: absolute;
        bottom: 0;
        content: "";
        display: block;
        align-self: center;
        width: 100%;
        height: 4px;
        background-color: $accent-color;
        border-radius: 4px;
    }
}

.contact-list {

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 16px;
        @include font (500, 18px, 1.167, 0.02em);
        color: $description-color;
        transition: color $transition-timing;

        &:hover,
        &:focus {
            color: $accent-color;
        }
    }

    &__svg {
        margin-right: 10px;
        fill: $description-color;
        transition: fill $transition-timing;

        .contact-list-link:hover &,
        .contact-list-link:focus & {
            fill: $accent-color;
        }

        &--envelope {
            width: 16px;
            height: 12px;
        }

        &--smartphone {
            width: 10px;
            height: 16px;;
        }
    }

    &__item:not(:last-child) {
        margin-bottom: 16px;
    }

    &__item {
        display: block;
    }
}



.header__menu-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.menu-button__svg {
    width: 40px;
    height: 40px;
    fill: $logo-dark-color;

    .header__menu-button:focus &,
    .header__menu-button:hover & {
        fill: $accent-color;
    }
}

@media screen and (min-width:768px) {
    .header__menu-button {
        display: none;
    }
}


.header__menu-button .icon-cross {
    display: none;
}

.header__menu-button.is-open .icon-cross {
    display: block;
}

.header__menu-button.is-open .icon-menu {
    display: none;
}

.header__menu-container.is-open {
    display: block;
}

@media screen and (max-width:767px) {
    .header {
        position: relative;
        max-height: 60px;
        min-width: 480px;
  
    }


    .header-mobile {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 60px;
        padding: 16px 0;
    }

    .navigation {
        justify-content: space-between;
    }

    .navigation__list {
        margin-bottom: 60px;
    }

    .navigation__list-item:not(:last-child) {
        margin-bottom: 40px;
    }

    .header__menu-container {
        display:none;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 10;
        padding: 60px 20px;
        width: 100%;
        height: 393px;
        background-color: $title-light-color;
        border-top: 1px $section-border-color;
    }

    .contact-list__item {
        text-align: center;
    }
}

@media screen and (min-width:768px) {
    .header {
        max-height: 80px;

        & .active-page {
            padding-bottom: 29px;
        }
    }


    .navigation .header__menu-container {
        display: flex;
    }

    .navigation__list {
        display: flex;
        margin-right: 84px;
    
        &-link {
            @include font (500, 14px, 1.143, 0.02em);
        }
    
        &-item:not(:last-child) {
            margin-right: 50px;
        }
    }

    .contact-list {

        display: block;
        margin-right:0;
         
        &__link {
            @include font (500, 12px, 1.167, 0.02em);
        }

        &__item:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    .header {
        display: flex;
        padding: 25px 0;
        height: 80px;
    }

    .header__menu-container {
        height: 90px;
    }
}

@media screen and (min-width:1200px) {
    .contact-list {
        display: flex;
        height: 16px;

        &__item:not(:last-child) {
            margin-right: 30px;
        }

        &__link {
            @include font (500, 14px, 1.143, 0.02em);
        }
    }

    .navigation__list {
        margin-right: 305px;
    }
}






