.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 1px $section-border-color;
    background-color: $title-light-color;
    z-index: 100;
}

.navigation {
    display:flex;
    align-content: center;
    align-items: baseline;
}

.navigation__list {
    display: block;
    margin-right: auto;
    margin-left: auto;

    &-item{
        text-align: center;
    }
}


.navigation__list-link {
     @include font (500, 18px, 1.167, 0.02em);
    color: $title-dark-color;
    transition: color $transition-timing;
      

    &:hover,
    &:focus {
    color: $accent-color;
    }
}

.active-page {
    text-align: center;
    position: relative;
    color: $accent-color;

    .header & {
        padding-bottom: 8px;
        display: inline-block;
        align-items: center;
    }

    &::after {
        position: absolute;
        bottom: 0;
        content: "";
        display: block;
        align-self: center;
        width: 100%;
        height: 4px;
        background-color: $accent-color;
        border-radius: 4px;
    }
}

.contact-list__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    @include font (500, 18px, 1.167, 0.02em);
    color: $description-color;
    transition: color $transition-timing;

    &:hover,
    &:focus {
        color: $accent-color;
    }
}

.contact-list__svg {
    margin-right: 10px;
    fill: $description-color;
    transition: fill $transition-timing;

    &--envelope {
        width: 16px;
        height: 12px;
    }

    &--smartphone {
        width: 10px;
        height: 16px;
    }
}


.contact-list__item {
    display: block;
}

.contact-list__link:hover .contact-list__svg,
.contact-list__link:focus .contact-list__svg {
    fill: $accent-color;
}

.header__menu-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.menu-button__svg {
    width: 40px;
    height: 40px;
    fill: $logo-dark-color;

    .header__menu-button:focus &,
    .header__menu-button:hover & {
        fill: $accent-color;
    }
}

@media screen and (min-width:768px) {
    .header__menu-button {
        display: none;
    }
}

.icon-cross {
    display: none;
}

.header__menu-button.is-open .icon-cross {
    display: block;
}

.header__menu-button.is-open .icon-menu {
    display: none;
}

.header__menu-container.is-open {
    display: block;
}

@media screen and (max-width:767px) {

    .header-mobile {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 60px;
        padding: 16px 0;
    }

    .navigation {
        justify-content: space-between;
    }

    .navigation__list {
        margin-bottom: 60px;
    }

    .navigation__list-item:not(:last-child) {
        margin-bottom: 40px;
    }

    .header__menu-container {
        display:none;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 10;
        padding: 60px 20px;
        width: 100%;
        height: 393px;
        background-color: $title-light-color;
    }

    .contact-list__item {
        text-align: center;

        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }
}

@media screen and (min-width:768px) {
    .header {
        display: flex;
        align-content: center;

        
        & .container {
            height: 80px;
            align-items: center;
        }

        & .active-page {
            padding-bottom: 30px;
        }
    }

    .navigation {
        height: 100%;
    }

    .navigation .header__menu-container {
        display: flex;
        align-items: center;
        height: 80px;
        width: 100%;
    }

  
    .navigation__list {
        display: flex;
        align-items: center;
        margin-right: 83px;
        height: 100%;
        width: 100%;
    
        &-link {
            @include font (500, 14px, 1.143, 0.02em);
        }
    
        &-item:not(:last-child) {
            margin-right: 50px;
        }

        &-item {
            height: 14px;
        }
    }
}


@media screen and (min-width:768px) and (max-width:1199px) {
    .contact-list {

        display: block;
         
        &__link {
            @include font (500, 12px, 1.167, 0.02em);
            justify-content: left;
        }

        &__item:not(:last-child) {
            margin-bottom: 10px;
        }

        &__item {
            text-align: left;
        }
    }
}


@media screen and (min-width:1200px) {
    .contact-list {
        display: flex;
        justify-content: end;
        align-items: center;

        &__item:not(:last-child) {
            margin-right: 30px;
        }

        &__link {
            @include font (500, 14px, 1.143, 0.02em);
            height:14px;
            width: max-content;
        }
    }

    .navigation__list {
        margin-right: 305px;
    }
}






