
.hero {
    margin: 0 auto;
    width: 480px;
    height: 400px;
    padding: 118px 0;
    text-align: center;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/hero-bg.jpg);
    background-repeat: no-repeat;
    background-color: $hero-bg;
    background-size: cover;
    
    &__title {
        
        margin-bottom: 30px;
        min-width: 360px;
        height: 84px;
        @include font (900, 26px, 1.615, 0.06em);
        text-transform: uppercase;
        color: $title-light-color;
    }  
}



